* {
    margin: 0px;
}
.header{
    text-align: right;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    width: 100%;
    height: 808px;
}
.primary-btn{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 5px;
}
.header-tittle{
    font-size: 70px;
    padding-right: 200px;
    padding-top: 200px;
    padding-bottom: 30px;
}
.header-desc{
    padding-right: 200px;
}
.header-button{
    padding-right: 200px;
    padding-top: 40px;
}