* {
    margin: 0px;
}

.header {
    text-align: right;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    width: 100%;
    height: 808px;
}

.primary-btn {
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: 5px;
}

.header-tittle {
    font-size: 70px;
    padding-right: 200px;
    padding-top: 200px;
    padding-bottom: 30px;
}

.header-desc {
    padding-right: 200px;
}

.header-button {
    padding-right: 200px;
    padding-top: 40px;
}

/* section-1 failures style */
.failures {
    display: flex;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 206px;
    margin-right: 322px;
    gap: 87px;
}

.fail-h3 {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.fail-p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.fail-ul {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

/* section-2 my plans style */
.my-plans {
    align-items: center;
    margin: 0px 229px 124px 230px;
}

.plan-head {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 60px;
}

.plan-icon {
    display: flex;
    justify-content: space-around;
}

.icon-head {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 16px;
}

.icon-desc {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    text-align: center;
}

.icon-img1 {
    margin-left: 75px;
}

.icon-img2 {
    margin-left: 27px;
}

.icon-img3 {
    margin-left: 45px;
}

.icon-img4 {
    margin-left: 30px;
}

.bottom-image {
    width: 1140px;
    height: 300px;
    background-repeat: no-repeat;
    margin: 0px 230px 130px 230px;
    background-image: url(../images/gradient2.png), url(../images/watch.png);
    background-blend-mode: normal;
    border-radius: 8px;
}

.bottom text {
    width: 459px;
    height: 182px;
    /* padding-left: 294px;
    padding-top: 2275.3px; */
}

.bm-head {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-left: 64px;
    padding-top: 59px;
}

.btn2 {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 24px 916px 59px 64px;
    background: #FFFFFF;
    border-radius: 5px;
    border-color: white;
}